body {
  margin: 30px;
}

h1 {
  font-family: sans-serif;
  color: #666;
}

#container {
  width: 400px;
  height: 300px;
  border: 10px #333 solid;
}

#videoElement{
  width: 400px;
  height: 300px;
  border: #666;
}

button {
  margin-top: 20px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  background-color: white;
  border: 5px solid black;
}

button:hover {
  background-color: yellow;
}

button:active {
  background-color: yellowgreen;
}
